{% extends 'layout.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <div class="mb-4">
        <h1 class="mb-3">📘 All Posts</h1>

        {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="{% url 'posts:page' slug=post.slug %}" class="text-decoration-none">
                            {{ post.title }}
                        </a>
                    </h3>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.date|date:"Y-m-d H:i" }} by {{ post.author }}</h6>
                    <p class="card-text">{{ post.body|truncatewords:30 }}</p>
                    <a href="{% url 'posts:page' slug=post.slug %}" class="btn btn-sm btn-outline-primary">Read more</a>
                </div>
            </div>
        {% empty %}
            <p>No posts yet.</p>
        {% endfor %}
    </div>
{% endblock %}
